<div class="container pt-5">
  <div class="row">
    <div class="col-lg-4 col-sm-12">
      <div class="">
        -<div class="card p-5 shadow"> 
          <h2 *ngIf="contador==0" class="text-center">Crear Usuario</h2>
          <h2 *ngIf="contador>0" class="text-center">Editar Usuario</h2>
          <form [formGroup]="usuarioForm" (ngSubmit)="guardar()">
            <div class="form-group my-2">
              <label><b>Nombre</b></label>
              <input type="text" formControlName="nombreUsuario" class="form-control" placeholder="Nombre de usuario">
            </div>
            <div class="form-group my-2">
              <label><b>Rol</b></label>
              <select name="rol" formControlName="rol" class="form-select" id="rol">
                <option value="" selected disabled>Seleccione un rol</option>
                <option [ngValue]="item" *ngFor="let item of roles">{{item.nombre_rol}}</option>
              </select>
            </div>
            <div class="form-group my-2">
              <label><b>Activo</b></label>
              <br>
              Si: <input class="form-check-input" type="radio" name="activo" formControlName="activo" ng-model='activo' value="s" />
              No: <input class="form-check-input" type="radio" name="activo" formControlName="activo" ng-model='activo' value="n" />
            </div>
            <p class="text-danger" *ngIf="usuarioForm.invalid">Llene todos los campos para guardar usuario</p>
            <button type="submit" class="btn btn-primary" [disabled]="usuarioForm.invalid">Guardar</button>
          </form>
        </div>
        <br>
        <div class="card px-5 py-4 shadow-lg ">
          <h2 class="text-center">Buscar Usuario</h2>
          <form>
            <div class="form-group d-flex">
              <input type="text" name="filterPost" class="form-control my-2" [(ngModel)]="filterPost" placeholder="Ingrese nombre de usuario">
                <button class="btn btn-primary my-2 " (click)="limpiarFiltro()">Limpiar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-8 col-sm-12 p-5">
      <div>
      <div class="d-flex ">
        <h2>Lista de usuarios</h2>
        <h5 class="mt-2" *ngIf="filterPost!=''">(encontardos)</h5>
      </div>
        <div class="">
          <table class="table table-striped shadow table-responsive-sm">
            <thead >
              <tr>
                <th class="col-lg-1"></th>
                <th class="col-lg-2">ID</th>
                <th class="col-lg-3">Nombre</th>
                <th class="col-lg-3">Rol</th>
                <th class="col-lg-1">Activo</th>
                <th class="col-lg-2">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of usuarios | filter:filterPost">
                <td></td>
                <td>{{item.id}}</td>
                
                <td>{{item.nombreUsuario}}</td>
                <td>{{item.rol.nombre_rol}}</td>
                <td>
                  <img class="px-3" *ngIf="item.activo=='s'" src="https://img.icons8.com/ios-filled/24/26e07f/connection-status-on.png"/>
                  <img class="px-3" *ngIf="item.activo=='n'" src="https://img.icons8.com/ios-filled/24/fa314a/connection-status-off.png"/>
                </td>
                <td>
                  <button class="btn px-0" (click)="editar(item)" title="editar">
                    <img src="https://img.icons8.com/fluency-systems-regular/24/000000/pencil--v1.png"/>
                  </button>
                  
                  <button class="btn px-0" (click)="eliminar(item)" title="eliminar">
                    <img src="https://img.icons8.com/ios/24/000000/delete--v1.png"/>
                  </button>
                </td>
              </tr>
            </tbody>
  
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>